<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{323,121},{39,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02010_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{38,19}</string>
                <key>textureRect</key>
                <string>{{262,344},{38,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02110_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,19}</string>
                <key>spriteSourceSize</key>
                <string>{38,19}</string>
                <key>textureRect</key>
                <string>{{262,364},{38,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{301,348},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b13000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{352,348},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b53010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,176},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navleft</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{474,152},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navleft_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{474,185},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{474,218},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_opponent</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,20}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{363,132},{110,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{234,481},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_share</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{88,481},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_share_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{72,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{161,481},{72,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stat_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,37}</string>
                <key>spriteSourceSize</key>
                <string>{140,37}</string>
                <key>textureRect</key>
                <string>{{363,2},{140,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stat_reset_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,37}</string>
                <key>spriteSourceSize</key>
                <string>{140,37}</string>
                <key>textureRect</key>
                <string>{{363,40},{140,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_hint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{29,481},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cell_arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{29,17}</string>
                <key>textureRect</key>
                <string>{{471,488},{29,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,22}</string>
                <key>spriteSourceSize</key>
                <string>{101,22}</string>
                <key>textureRect</key>
                <string>{{363,153},{101,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,118}</string>
                <key>spriteSourceSize</key>
                <string>{360,118}</string>
                <key>textureRect</key>
                <string>{{2,2},{360,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{61,481},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,229}</string>
                <key>spriteSourceSize</key>
                <string>{259,229}</string>
                <key>textureRect</key>
                <string>{{2,251},{259,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_menu_header</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,30}</string>
                <key>textureRect</key>
                <string>{{363,101},{120,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_separator</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,3}</string>
                <key>spriteSourceSize</key>
                <string>{203,3}</string>
                <key>textureRect</key>
                <string>{{301,344},{203,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_tutorial</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,117}</string>
                <key>spriteSourceSize</key>
                <string>{320,117}</string>
                <key>textureRect</key>
                <string>{{2,121},{320,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_progress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{85,11}</string>
                <key>spriteSourceSize</key>
                <string>{87,15}</string>
                <key>textureRect</key>
                <string>{{2,239},{85,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glove_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{67,52}</string>
                <key>textureRect</key>
                <string>{{403,455},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,50}</string>
                <key>spriteSourceSize</key>
                <string>{8,50}</string>
                <key>textureRect</key>
                <string>{{498,91},{8,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_horz_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,50}</string>
                <key>spriteSourceSize</key>
                <string>{8,50}</string>
                <key>textureRect</key>
                <string>{{484,101},{8,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,11}</string>
                <key>spriteSourceSize</key>
                <string>{50,11}</string>
                <key>textureRect</key>
                <string>{{88,239},{50,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_vert_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,11}</string>
                <key>spriteSourceSize</key>
                <string>{50,11}</string>
                <key>textureRect</key>
                <string>{{139,239},{50,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{2,481},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{262,384},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ch2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{262,417},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_fr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{471,455},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,92}</string>
                <key>spriteSourceSize</key>
                <string>{247,92}</string>
                <key>textureRect</key>
                <string>{{262,251},{247,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,23}</string>
                <key>textureRect</key>
                <string>{{323,227},{70,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,23}</string>
                <key>textureRect</key>
                <string>{{394,227},{70,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{403,348},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_challengeicon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{262,450},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_separator70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,2}</string>
                <key>spriteSourceSize</key>
                <string>{290,2}</string>
                <key>textureRect</key>
                <string>{{29,508},{290,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar_progress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,22}</string>
                <key>spriteSourceSize</key>
                <string>{134,22}</string>
                <key>textureRect</key>
                <string>{{363,78},{134,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{498,78},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-1.png</string>
        </dict>
    </dict>
</plist>
