<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b03010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,237},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b13010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,288},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b23010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,339},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b33010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,390},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b43010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{323,441},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_btn_crop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,46}</string>
                <key>spriteSourceSize</key>
                <string>{16,46}</string>
                <key>textureRect</key>
                <string>{{494,58},{16,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{486,139},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_up_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{26,18}</string>
                <key>textureRect</key>
                <string>{{486,158},{24,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,55}</string>
                <key>spriteSourceSize</key>
                <string>{15,55}</string>
                <key>textureRect</key>
                <string>{{495,2},{15,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,32}</string>
                <key>spriteSourceSize</key>
                <string>{162,32}</string>
                <key>textureRect</key>
                <string>{{323,138},{162,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,32}</string>
                <key>spriteSourceSize</key>
                <string>{162,32}</string>
                <key>textureRect</key>
                <string>{{323,171},{162,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,32}</string>
                <key>spriteSourceSize</key>
                <string>{162,32}</string>
                <key>textureRect</key>
                <string>{{323,204},{162,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_opponent_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,18}</string>
                <key>spriteSourceSize</key>
                <string>{114,20}</string>
                <key>textureRect</key>
                <string>{{323,492},{108,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_notification_fault</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{487,481},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{291,483},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleared</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,26}</string>
                <key>spriteSourceSize</key>
                <string>{76,26}</string>
                <key>textureRect</key>
                <string>{{214,483},{76,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>completed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{494,105},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_hpr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,42}</string>
                <key>spriteSourceSize</key>
                <string>{171,42}</string>
                <key>textureRect</key>
                <string>{{323,2},{171,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,61}</string>
                <key>spriteSourceSize</key>
                <string>{34,61}</string>
                <key>textureRect</key>
                <string>{{474,419},{34,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{450,492},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_btn_crop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{474,481},{12,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_minus_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{2,483},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_minus_btn_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{40,483},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_number</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{474,386},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_plus_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{78,483},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_plus_btn_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{116,483},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{474,238},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{474,275},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{474,312},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{474,349},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invitation_notification</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{432,492},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{486,177},{22,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox_no</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{494,122},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>multiplayer_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{154,483},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle_level01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,29}</string>
                <key>spriteSourceSize</key>
                <string>{170,29}</string>
                <key>textureRect</key>
                <string>{{323,78},{170,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle_level02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,29}</string>
                <key>spriteSourceSize</key>
                <string>{170,29}</string>
                <key>textureRect</key>
                <string>{{323,108},{170,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singleplayer_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{190,483},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,32}</string>
                <key>spriteSourceSize</key>
                <string>{170,32}</string>
                <key>textureRect</key>
                <string>{{323,45},{170,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,480}</string>
                <key>spriteSourceSize</key>
                <string>{320,480}</string>
                <key>textureRect</key>
                <string>{{2,2},{320,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-0.png</string>
        </dict>
    </dict>
</plist>
