<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_level_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,17}</string>
                <key>textureRect</key>
                <string>{{111,359},{52,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_level_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,17}</string>
                <key>textureRect</key>
                <string>{{164,359},{52,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b01000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{336,379},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03000_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,57}</string>
                <key>spriteSourceSize</key>
                <string>{19,57}</string>
                <key>textureRect</key>
                <string>{{273,377},{19,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03010_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,19}</string>
                <key>spriteSourceSize</key>
                <string>{57,19}</string>
                <key>textureRect</key>
                <string>{{53,359},{57,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b53000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{2,359},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{303,249},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{440,245},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks111</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{368,252},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks121</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{303,314},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks131</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{273,435},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks141</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{433,310},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{432,375},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{432,440},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{466,72},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{387,366},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_load</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{70,18}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{374,127},{70,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_load_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{70,18}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{303,140},{70,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_save</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,18}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{374,146},{68,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_save_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,18}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{303,159},{68,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{447,117},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quickhint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{443,158},{67,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quickhint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{372,165},{67,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rematch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,20}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{394,18},{72,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rematch_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{72,18}</string>
                <key>spriteSourceSize</key>
                <string>{74,20}</string>
                <key>textureRect</key>
                <string>{{394,39},{72,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_menu_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{303,224},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{394,58},{71,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_cancel_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{394,81},{71,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_fb</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{303,93},{71,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_fb_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{375,104},{71,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_tw</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{303,178},{67,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_tw_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{67,22}</string>
                <key>spriteSourceSize</key>
                <string>{71,22}</string>
                <key>textureRect</key>
                <string>{{303,201},{67,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cell_arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{29,17}</string>
                <key>textureRect</key>
                <string>{{273,359},{29,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{217,359},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{338,479},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defpreview</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{387,411},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,123}</string>
                <key>spriteSourceSize</key>
                <string>{219,123}</string>
                <key>textureRect</key>
                <string>{{53,379},{219,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,15}</string>
                <key>spriteSourceSize</key>
                <string>{87,15}</string>
                <key>textureRect</key>
                <string>{{394,2},{87,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_freehint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{387,456},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_levelup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{467,33},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_relax</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{293,379},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{368,317},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_remove_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{338,430},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,23}</string>
                <key>spriteSourceSize</key>
                <string>{70,23}</string>
                <key>textureRect</key>
                <string>{{303,116},{70,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_bottomcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,46}</string>
                <key>spriteSourceSize</key>
                <string>{300,46}</string>
                <key>textureRect</key>
                <string>{{2,312},{300,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_bottomcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,70}</string>
                <key>textureRect</key>
                <string>{{2,99},{300,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_midcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,70}</string>
                <key>textureRect</key>
                <string>{{2,170},{300,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_relaxicon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{482,2},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_topcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{300,70}</string>
                <key>textureRect</key>
                <string>{{2,241},{300,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_midcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,96}</string>
                <key>spriteSourceSize</key>
                <string>{300,96}</string>
                <key>textureRect</key>
                <string>{{2,2},{300,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waiting_alert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{303,2},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-3.png</string>
        </dict>
    </dict>
</plist>
