<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{83,107}</string>
                <key>textureRect</key>
                <string>{{646,242},{78,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02010_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{76,38}</string>
                <key>textureRect</key>
                <string>{{524,688},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02110_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,38}</string>
                <key>spriteSourceSize</key>
                <string>{76,38}</string>
                <key>textureRect</key>
                <string>{{524,728},{76,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{602,696},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b13000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{704,696},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b53010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,352},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navleft</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{948,304},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navleft_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{948,370},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{948,436},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_opponent</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{220,40}</string>
                <key>spriteSourceSize</key>
                <string>{228,40}</string>
                <key>textureRect</key>
                <string>{{726,264},{220,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{468,962},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_share</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{176,962},{144,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_share_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{144,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{322,962},{144,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stat_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{280,74}</string>
                <key>spriteSourceSize</key>
                <string>{279,74}</string>
                <key>textureRect</key>
                <string>{{726,4},{280,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stat_reset_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{280,74}</string>
                <key>spriteSourceSize</key>
                <string>{279,74}</string>
                <key>textureRect</key>
                <string>{{726,80},{280,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_hint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{58,962},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cell_arrow_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{942,976},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challenge_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,44}</string>
                <key>spriteSourceSize</key>
                <string>{202,44}</string>
                <key>textureRect</key>
                <string>{{726,306},{202,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,236}</string>
                <key>spriteSourceSize</key>
                <string>{720,236}</string>
                <key>textureRect</key>
                <string>{{4,4},{720,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{122,962},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_menu</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,458}</string>
                <key>spriteSourceSize</key>
                <string>{518,458}</string>
                <key>textureRect</key>
                <string>{{4,502},{518,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_menu_header</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,60}</string>
                <key>textureRect</key>
                <string>{{726,202},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_separator</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,6}</string>
                <key>spriteSourceSize</key>
                <string>{406,6}</string>
                <key>textureRect</key>
                <string>{{602,688},{406,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_tutorial</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,234}</string>
                <key>spriteSourceSize</key>
                <string>{640,234}</string>
                <key>textureRect</key>
                <string>{{4,242},{640,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_progress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{170,22}</string>
                <key>spriteSourceSize</key>
                <string>{174,30}</string>
                <key>textureRect</key>
                <string>{{4,478},{170,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glove_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,104}</string>
                <key>spriteSourceSize</key>
                <string>{134,104}</string>
                <key>textureRect</key>
                <string>{{806,910},{134,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,100}</string>
                <key>spriteSourceSize</key>
                <string>{16,100}</string>
                <key>textureRect</key>
                <string>{{996,182},{16,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_horz_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,100}</string>
                <key>spriteSourceSize</key>
                <string>{16,100}</string>
                <key>textureRect</key>
                <string>{{968,202},{16,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,22}</string>
                <key>textureRect</key>
                <string>{{176,478},{100,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_vert_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,22}</string>
                <key>spriteSourceSize</key>
                <string>{100,22}</string>
                <key>textureRect</key>
                <string>{{278,478},{100,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{4,962},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{524,768},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ch2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{524,834},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_fr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{942,910},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,184}</string>
                <key>spriteSourceSize</key>
                <string>{494,184}</string>
                <key>textureRect</key>
                <string>{{524,502},{494,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{140,46}</string>
                <key>textureRect</key>
                <string>{{646,454},{140,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{140,46}</string>
                <key>textureRect</key>
                <string>{{788,454},{140,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{207,211}</string>
                <key>textureRect</key>
                <string>{{806,696},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_challengeicon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{524,900},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_separator70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,4}</string>
                <key>spriteSourceSize</key>
                <string>{580,4}</string>
                <key>textureRect</key>
                <string>{{58,1016},{580,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar_progress</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,44}</string>
                <key>spriteSourceSize</key>
                <string>{268,44}</string>
                <key>textureRect</key>
                <string>{{726,156},{268,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>white_dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{996,156},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-1-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-1-hd.png</string>
        </dict>
    </dict>
</plist>
