<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b02010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{323,2},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{323,53},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{323,104},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{309,155},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{410,201},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{309,206},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b23000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{2,359},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{410,252},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{309,257},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b33000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{53,359},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{410,303},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{309,308},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b43000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{104,359},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{410,354},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{408,405},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,65}</string>
                <key>spriteSourceSize</key>
                <string>{70,65}</string>
                <key>textureRect</key>
                <string>{{155,443},{70,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stats_share</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{40,13}</string>
                <key>textureRect</key>
                <string>{{35,344},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stats_share_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{40,13}</string>
                <key>textureRect</key>
                <string>{{76,344},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_result</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,200}</string>
                <key>spriteSourceSize</key>
                <string>{306,200}</string>
                <key>textureRect</key>
                <string>{{2,143},{306,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,62}</string>
                <key>spriteSourceSize</key>
                <string>{252,62}</string>
                <key>textureRect</key>
                <string>{{155,380},{252,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_ray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{424,125},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glove_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{67,52}</string>
                <key>textureRect</key>
                <string>{{226,456},{67,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_challenge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{408,456},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dailypuzzle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{294,456},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_multiplayer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{457,456},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,20}</string>
                <key>spriteSourceSize</key>
                <string>{253,20}</string>
                <key>textureRect</key>
                <string>{{155,359},{253,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_puzzle_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,14}</string>
                <key>spriteSourceSize</key>
                <string>{32,14}</string>
                <key>textureRect</key>
                <string>{{2,344},{32,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{345,443},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_puzzlecell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,46}</string>
                <key>spriteSourceSize</key>
                <string>{320,46}</string>
                <key>textureRect</key>
                <string>{{2,2},{320,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_puzzlecell_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,46}</string>
                <key>spriteSourceSize</key>
                <string>{320,46}</string>
                <key>textureRect</key>
                <string>{{2,49},{320,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,46}</string>
                <key>spriteSourceSize</key>
                <string>{320,46}</string>
                <key>textureRect</key>
                <string>{{2,96},{320,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,122}</string>
                <key>spriteSourceSize</key>
                <string>{77,122}</string>
                <key>textureRect</key>
                <string>{{424,2},{77,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-2.png</string>
        </dict>
    </dict>
</plist>
