<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{53,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{132,115},{53,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{295,2},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02000_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,38}</string>
                <key>spriteSourceSize</key>
                <string>{19,38}</string>
                <key>textureRect</key>
                <string>{{368,204},{19,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{346,2},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{397,2},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{448,2},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{295,103},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{346,103},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{397,103},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks51</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{397,168},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks61</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,115},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks71</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,115},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks81</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,115},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks91</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{303,204},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,20}</string>
                <key>spriteSourceSize</key>
                <string>{54,20}</string>
                <key>textureRect</key>
                <string>{{2,429},{52,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,20}</string>
                <key>spriteSourceSize</key>
                <string>{54,20}</string>
                <key>textureRect</key>
                <string>{{2,400},{52,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{461,373},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gp_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{461,408},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{388,233},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{303,269},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invitation</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{254,115},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invitation_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{253,363},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{253,320},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{294,388},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_leaderboard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{44,36}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{416,373},{44,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_leaderboard_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,32}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{335,418},{44,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_multi_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{191,320},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_multi_back_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,39}</string>
                <key>spriteSourceSize</key>
                <string>{61,39}</string>
                <key>textureRect</key>
                <string>{{191,360},{61,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navback</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{294,351},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navback_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{355,356},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navright_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{154,361},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_notification_true</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{397,460},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{366,274},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{429,291},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{303,310},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{366,315},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{429,332},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_next</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{132,155},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_next_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{380,435},{56,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_retry</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{335,393},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_retry_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{398,410},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{2,180},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skip_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{62,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{65,180},{62,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{128,180},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{68,22}</string>
                <key>textureRect</key>
                <string>{{189,180},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{2,320},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{65,320},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,40}</string>
                <key>textureRect</key>
                <string>{{128,320},{62,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{250,180},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_disconnect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{462,152},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hintspack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{451,246},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{462,103},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_rematch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{462,199},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_gm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{2,460},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_id</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{2,361},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_it</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{40,361},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_jp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{55,394},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{78,361},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ma</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{116,361},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ph</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{93,394},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_pt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{131,394},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ru</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{169,400},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_sp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{207,400},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_th</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{245,404},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_tr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{283,429},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_uk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{321,451},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_us</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{359,460},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,22}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{437,441},{60,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox_yes</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{430,464},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_midcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,46}</string>
                <key>spriteSourceSize</key>
                <string>{300,46}</string>
                <key>textureRect</key>
                <string>{{2,204},{300,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_topcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,46}</string>
                <key>spriteSourceSize</key>
                <string>{300,46}</string>
                <key>textureRect</key>
                <string>{{2,251},{300,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_bottomcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,10}</string>
                <key>spriteSourceSize</key>
                <string>{300,10}</string>
                <key>textureRect</key>
                <string>{{2,298},{300,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{463,464},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_topcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,10}</string>
                <key>spriteSourceSize</key>
                <string>{300,10}</string>
                <key>textureRect</key>
                <string>{{2,309},{300,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_unselected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{55,427},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,112}</string>
                <key>spriteSourceSize</key>
                <string>{292,112}</string>
                <key>textureRect</key>
                <string>{{2,2},{292,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-4.png</string>
        </dict>
    </dict>
</plist>
