<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b03010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,474},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b13010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,576},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b23010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,678},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b33010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,780},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b43010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{646,882},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_btn_crop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{32,92}</string>
                <key>spriteSourceSize</key>
                <string>{31,91}</string>
                <key>textureRect</key>
                <string>{{988,116},{32,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{972,278},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_up_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{52,36}</string>
                <key>textureRect</key>
                <string>{{972,316},{48,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guide</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,110}</string>
                <key>spriteSourceSize</key>
                <string>{30,110}</string>
                <key>textureRect</key>
                <string>{{990,4},{30,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,64}</string>
                <key>spriteSourceSize</key>
                <string>{324,64}</string>
                <key>textureRect</key>
                <string>{{646,276},{324,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,64}</string>
                <key>spriteSourceSize</key>
                <string>{324,64}</string>
                <key>textureRect</key>
                <string>{{646,342},{324,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lightwood_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,64}</string>
                <key>spriteSourceSize</key>
                <string>{324,64}</string>
                <key>textureRect</key>
                <string>{{646,408},{324,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_opponent_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{216,36}</string>
                <key>spriteSourceSize</key>
                <string>{228,40}</string>
                <key>textureRect</key>
                <string>{{646,984},{216,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_notification_fault</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{974,962},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{582,966},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cleared</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,52}</string>
                <key>spriteSourceSize</key>
                <string>{152,52}</string>
                <key>textureRect</key>
                <string>{{428,966},{152,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>completed</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{988,210},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_hpr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,84}</string>
                <key>spriteSourceSize</key>
                <string>{342,84}</string>
                <key>textureRect</key>
                <string>{{646,4},{342,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{68,122}</string>
                <key>spriteSourceSize</key>
                <string>{68,121}</string>
                <key>textureRect</key>
                <string>{{948,838},{68,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_dot</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{900,984},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_btn_crop_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{24,58}</string>
                <key>spriteSourceSize</key>
                <string>{24,57}</string>
                <key>textureRect</key>
                <string>{{948,962},{24,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_minus_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{4,966},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_minus_btn_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{80,966},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_number</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{948,772},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_plus_btn</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{156,966},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hint_plus_btn_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{232,966},{74,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_down</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{948,476},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{948,550},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{948,624},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintguide_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{948,698},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invitation_notification</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{864,984},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_vert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,0}</string>
                <key>spriteSize</key>
                <string>{44,120}</string>
                <key>spriteSourceSize</key>
                <string>{83,120}</string>
                <key>textureRect</key>
                <string>{{972,354},{44,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox_no</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{988,244},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>multiplayer_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,54}</string>
                <key>textureRect</key>
                <string>{{308,966},{70,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle_level01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,58}</string>
                <key>spriteSourceSize</key>
                <string>{340,58}</string>
                <key>textureRect</key>
                <string>{{646,156},{340,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puzzle_level02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,58}</string>
                <key>spriteSourceSize</key>
                <string>{340,58}</string>
                <key>textureRect</key>
                <string>{{646,216},{340,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>singleplayer_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{380,966},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,64}</string>
                <key>spriteSourceSize</key>
                <string>{340,64}</string>
                <key>textureRect</key>
                <string>{{646,90},{340,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{4,4},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-0-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-0-hd.png</string>
        </dict>
    </dict>
</plist>
