<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0.5}</string>
                <key>spriteSize</key>
                <string>{106,78}</string>
                <key>spriteSourceSize</key>
                <string>{107,83}</string>
                <key>textureRect</key>
                <string>{{264,230},{106,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{590,4},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02000_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,76}</string>
                <key>spriteSourceSize</key>
                <string>{38,76}</string>
                <key>textureRect</key>
                <string>{{736,408},{38,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{692,4},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{794,4},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{896,4},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{590,206},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{692,206},{100,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks41</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{794,206},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks51</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{794,336},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks61</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{4,230},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks71</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{134,230},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks81</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{378,230},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks91</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{606,408},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{4,858},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{4,800},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{922,746},{84,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gp_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{922,816},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{776,466},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{606,538},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invitation</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{508,230},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invitation_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{506,726},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{506,640},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{588,776},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_leaderboard</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{88,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{832,746},{88,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_leaderboard_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{670,836},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_multi_back</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{382,640},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_multi_back_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{382,720},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navback</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,88}</string>
                <key>textureRect</key>
                <string>{{588,702},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navback_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,72}</string>
                <key>spriteSourceSize</key>
                <string>{120,88}</string>
                <key>textureRect</key>
                <string>{{710,712},{120,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_navright_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{308,722},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_notification_true</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{794,920},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{732,548},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{858,582},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{606,620},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{732,630},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_reset_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{858,664},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_next</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{264,310},{112,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_next_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{760,870},{112,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_retry</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{670,786},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_retry_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{124,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{796,820},{124,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skip</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{124,44}</string>
                <key>spriteSourceSize</key>
                <string>{136,44}</string>
                <key>textureRect</key>
                <string>{{4,360},{124,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_skip_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{124,44}</string>
                <key>spriteSourceSize</key>
                <string>{136,44}</string>
                <key>textureRect</key>
                <string>{{130,360},{124,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,44}</string>
                <key>spriteSourceSize</key>
                <string>{136,44}</string>
                <key>textureRect</key>
                <string>{{256,360},{120,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,44}</string>
                <key>spriteSourceSize</key>
                <string>{136,44}</string>
                <key>textureRect</key>
                <string>{{378,360},{120,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{4,640},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{130,640},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{256,640},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{500,360},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_disconnect</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{924,304},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_hintspack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{902,492},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{924,206},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_rematch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{924,398},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_gm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{4,920},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_id</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{4,722},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_it</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{80,722},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_jp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{110,788},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_kr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{156,722},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ma</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{232,722},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ph</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{186,788},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_pt</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{262,788},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_ru</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{338,800},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_sp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{414,800},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_th</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{490,808},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_tr</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{566,858},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_uk</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{642,902},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lang_us</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{718,920},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_horz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{120,44}</string>
                <key>spriteSourceSize</key>
                <string>{120,83}</string>
                <key>textureRect</key>
                <string>{{874,882},{120,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbox_yes</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{860,928},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_midcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,92}</string>
                <key>spriteSourceSize</key>
                <string>{600,92}</string>
                <key>textureRect</key>
                <string>{{4,408},{600,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_topcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,92}</string>
                <key>spriteSourceSize</key>
                <string>{600,92}</string>
                <key>textureRect</key>
                <string>{{4,502},{600,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_bottomcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,20}</string>
                <key>spriteSourceSize</key>
                <string>{600,20}</string>
                <key>textureRect</key>
                <string>{{4,596},{600,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{926,928},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_topcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,20}</string>
                <key>spriteSourceSize</key>
                <string>{600,20}</string>
                <key>textureRect</key>
                <string>{{4,618},{600,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_unselected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{110,854},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,224}</string>
                <key>spriteSourceSize</key>
                <string>{584,224}</string>
                <key>textureRect</key>
                <string>{{4,4},{584,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-4-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-4-hd.png</string>
        </dict>
    </dict>
</plist>
