<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_level_left</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{104,34}</string>
                <key>spriteSourceSize</key>
                <string>{103,34}</string>
                <key>textureRect</key>
                <string>{{222,718},{104,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_level_right</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{104,34}</string>
                <key>spriteSourceSize</key>
                <string>{103,34}</string>
                <key>textureRect</key>
                <string>{{328,718},{104,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b01000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{672,758},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03000_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,114}</string>
                <key>spriteSourceSize</key>
                <string>{38,114}</string>
                <key>textureRect</key>
                <string>{{546,754},{38,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b03010_multi</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,38}</string>
                <key>spriteSourceSize</key>
                <string>{114,38}</string>
                <key>textureRect</key>
                <string>{{106,718},{114,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b53000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{4,718},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks101</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{606,498},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{880,490},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks111</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{736,504},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks121</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{606,628},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks131</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{546,870},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks141</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{866,620},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks21</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{864,750},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blocks31</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{864,880},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{932,144},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fb_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{774,732},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_load</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{748,254},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_load_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{140,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{606,280},{140,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_save</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{136,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{748,292},{136,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gcloud_save_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{136,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{606,318},{136,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,80}</string>
                <key>textureRect</key>
                <string>{{894,234},{124,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quickhint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,172}</string>
                <key>spriteSourceSize</key>
                <string>{134,172}</string>
                <key>textureRect</key>
                <string>{{886,316},{134,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quickhint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,172}</string>
                <key>spriteSourceSize</key>
                <string>{134,172}</string>
                <key>textureRect</key>
                <string>{{744,330},{134,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rematch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,40}</string>
                <key>spriteSourceSize</key>
                <string>{148,40}</string>
                <key>textureRect</key>
                <string>{{788,36},{144,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_rematch_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{144,36}</string>
                <key>spriteSourceSize</key>
                <string>{148,40}</string>
                <key>textureRect</key>
                <string>{{788,78},{144,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_result_menu_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{132,48}</string>
                <key>spriteSourceSize</key>
                <string>{148,48}</string>
                <key>textureRect</key>
                <string>{{606,448},{132,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_cancel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{788,116},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_cancel_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{788,162},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_fb</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{606,186},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_fb_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{750,208},{142,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_tw</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{606,356},{134,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share_tw_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{134,44}</string>
                <key>spriteSourceSize</key>
                <string>{142,44}</string>
                <key>textureRect</key>
                <string>{{606,402},{134,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cell_arrow_up</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{546,718},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{434,718},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cellstar2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{676,958},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defpreview</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{774,822},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_profile</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,246}</string>
                <key>spriteSourceSize</key>
                <string>{438,246}</string>
                <key>textureRect</key>
                <string>{{106,758},{438,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp_bar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,30}</string>
                <key>spriteSourceSize</key>
                <string>{174,30}</string>
                <key>textureRect</key>
                <string>{{788,4},{174,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_freehint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{774,912},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_levelup</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,75}</string>
                <key>textureRect</key>
                <string>{{934,66},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_relax</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{586,758},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{736,634},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_remove_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{676,860},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,46}</string>
                <key>spriteSourceSize</key>
                <string>{140,46}</string>
                <key>textureRect</key>
                <string>{{606,232},{140,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_bottomcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,92}</string>
                <key>spriteSourceSize</key>
                <string>{600,92}</string>
                <key>textureRect</key>
                <string>{{4,624},{600,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_bottomcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,140}</string>
                <key>spriteSourceSize</key>
                <string>{600,140}</string>
                <key>textureRect</key>
                <string>{{4,198},{600,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_midcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,140}</string>
                <key>spriteSourceSize</key>
                <string>{600,140}</string>
                <key>textureRect</key>
                <string>{{4,340},{600,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_relaxicon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{964,4},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_topcell70</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,140}</string>
                <key>spriteSourceSize</key>
                <string>{600,140}</string>
                <key>textureRect</key>
                <string>{{4,482},{600,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme_midcell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,192}</string>
                <key>spriteSourceSize</key>
                <string>{600,192}</string>
                <key>textureRect</key>
                <string>{{4,4},{600,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waiting_alert</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{606,4},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-3-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-3-hd.png</string>
        </dict>
    </dict>
</plist>
