<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b02010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{646,4},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b02110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{646,106},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{646,208},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b12110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{618,310},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{820,402},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b22110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{618,412},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b23000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{4,718},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{820,504},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b32110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{618,514},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b33000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{106,718},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{820,606},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b42110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{618,616},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b43000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{208,718},{100,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{820,708},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b52110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{816,810},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,130}</string>
                <key>spriteSourceSize</key>
                <string>{140,130}</string>
                <key>textureRect</key>
                <string>{{310,886},{140,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stats_share</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,25}</string>
                <key>textureRect</key>
                <string>{{70,688},{80,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_stats_share_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{80,25}</string>
                <key>textureRect</key>
                <string>{{152,688},{80,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_result</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,400}</string>
                <key>spriteSourceSize</key>
                <string>{612,400}</string>
                <key>textureRect</key>
                <string>{{4,286},{612,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog_reward</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{504,124}</string>
                <key>spriteSourceSize</key>
                <string>{503,124}</string>
                <key>textureRect</key>
                <string>{{310,760},{504,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_ray</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{848,250},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glove_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,104}</string>
                <key>spriteSourceSize</key>
                <string>{134,104}</string>
                <key>textureRect</key>
                <string>{{452,912},{134,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_challenge</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{816,912},{96,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dailypuzzle</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{588,912},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_multiplayer</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{914,912},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightbar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{506,40}</string>
                <key>spriteSourceSize</key>
                <string>{505,40}</string>
                <key>textureRect</key>
                <string>{{310,718},{506,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_puzzle_pack</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,28}</string>
                <key>textureRect</key>
                <string>{{4,688},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_icon</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{690,886},{124,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_puzzlecell</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,92}</string>
                <key>spriteSourceSize</key>
                <string>{640,92}</string>
                <key>textureRect</key>
                <string>{{4,4},{640,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table_puzzlecell_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,92}</string>
                <key>spriteSourceSize</key>
                <string>{640,92}</string>
                <key>textureRect</key>
                <string>{{4,98},{640,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>topbar</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,92}</string>
                <key>spriteSourceSize</key>
                <string>{640,92}</string>
                <key>textureRect</key>
                <string>{{4,192},{640,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{154,244}</string>
                <key>spriteSourceSize</key>
                <string>{154,243}</string>
                <key>textureRect</key>
                <string>{{848,4},{154,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common-2-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e783adb6a2ebb9db2e395bb4822b7d2:60930c052af5471d97791d13f4639aed:10bb48bab4cb19cb069383dfb8eefbb3$</string>
            <key>textureFileName</key>
            <string>common-2-hd.png</string>
        </dict>
    </dict>
</plist>
