<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pack0</key>
	<dict>
		<key>subpack0</key>
		<dict>
			<key>end</key>
			<integer>599</integer>
			<key>name</key>
			<string>Original</string>
			<key>start</key>
			<integer>0</integer>
		</dict>
		<key>subpack1</key>
		<dict>
			<key>end</key>
			<integer>799</integer>
			<key>name</key>
			<string>Bonus</string>
			<key>start</key>
			<integer>600</integer>
		</dict>
		<key>subpack2</key>
		<dict>
			<key>end</key>
			<integer>1199</integer>
			<key>name</key>
			<string>Free</string>
			<key>start</key>
			<integer>800</integer>
		</dict>
		<key>subpack3</key>
		<dict>
			<key>end</key>
			<integer>1599</integer>
			<key>name</key>
			<string>Expansion 1</string>
			<key>start</key>
			<integer>1200</integer>
		</dict>
		<key>subpack4</key>
		<dict>
			<key>end</key>
			<integer>1999</integer>
			<key>name</key>
			<string>Expansion 2</string>
			<key>start</key>
			<integer>1600</integer>
		</dict>
		<key>subpack5</key>
		<dict>
			<key>end</key>
			<integer>2499</integer>
			<key>name</key>
			<string>Expansion 3</string>
			<key>start</key>
			<integer>2000</integer>
		</dict>
		<key>subpack6</key>
		<dict>
			<key>end</key>
			<integer>2999</integer>
			<key>name</key>
			<string>Expansion 4</string>
			<key>start</key>
			<integer>2500</integer>
		</dict>
		<key>subpack7</key>
		<dict>
			<key>end</key>
			<integer>3499</integer>
			<key>name</key>
			<string>Expansion 5</string>
			<key>start</key>
			<integer>3000</integer>
		</dict>
		<key>subpack8</key>
		<dict>
			<key>end</key>
			<integer>3999</integer>
			<key>name</key>
			<string>Expansion 6</string>
			<key>start</key>
			<integer>3500</integer>
		</dict>
		<key>subpack9</key>
		<dict>
			<key>name</key>
			<string>Expansion 7</string>
			<key>start</key>
			<integer>4000</integer>
			<key>end</key>
			<integer>4499</integer>
		</dict>
		<key>subpack10</key>
		<dict>
			<key>name</key>
			<string>Expansion 8</string>
			<key>start</key>
			<integer>4500</integer>
			<key>end</key>
			<integer>4999</integer>
		</dict>
		<key>subpack11</key>
		<dict>
			<key>name</key>
			<string>Expansion 9</string>
			<key>start</key>
			<integer>5000</integer>
			<key>end</key>
			<real>5499</real>
		</dict>
		<key>subpack12</key>
		<dict>
			<key>name</key>
			<string>Expansion 10</string>
			<key>start</key>
			<real>5500</real>
			<key>end</key>
			<real>5999</real>
		</dict>
		<key>subpack13</key>
		<dict>
			<key>name</key>
			<string>Expansion 11</string>
			<key>start</key>
			<integer>6000</integer>
			<key>end</key>
			<real>6499</real>
		</dict>
		<key>subpack14</key>
		<dict>
			<key>name</key>
			<string>Expansion 12</string>
			<key>start</key>
			<real>6500</real>
			<key>end</key>
			<real>6999</real>
		</dict>
		<key>subpack15</key>
		<dict>
			<key>name</key>
			<string>Expansion 13</string>
			<key>start</key>
			<real>7000</real>
			<key>end</key>
			<real>7499</real>
		</dict>
		<key>subpack16</key>
		<dict>
			<key>name</key>
			<string>Expansion 14</string>
			<key>start</key>
			<real>7500</real>
			<key>end</key>
			<real>7999</real>
		</dict>
		<key>subpack17</key>
		<dict>
			<key>name</key>
			<string>Expansion 15</string>
			<key>start</key>
			<real>8000</real>
			<key>end</key>
			<real>8299</real>
		</dict>
	</dict>
	<key>pack1</key>
	<dict>
		<key>subpack0</key>
		<dict>
			<key>end</key>
			<integer>599</integer>
			<key>name</key>
			<string>Original</string>
			<key>start</key>
			<integer>0</integer>
		</dict>
		<key>subpack1</key>
		<dict>
			<key>end</key>
			<integer>799</integer>
			<key>name</key>
			<string>Bonus</string>
			<key>start</key>
			<integer>600</integer>
		</dict>
		<key>subpack2</key>
		<dict>
			<key>end</key>
			<integer>999</integer>
			<key>name</key>
			<string>Expansion 1</string>
			<key>start</key>
			<integer>800</integer>
		</dict>
		<key>subpack3</key>
		<dict>
			<key>end</key>
			<integer>1499</integer>
			<key>name</key>
			<string>Expansion 2</string>
			<key>start</key>
			<integer>1000</integer>
		</dict>
		<key>subpack4</key>
		<dict>
			<key>end</key>
			<integer>1999</integer>
			<key>name</key>
			<string>Expansion 3</string>
			<key>start</key>
			<integer>1500</integer>
		</dict>
		<key>subpack5</key>
		<dict>
			<key>name</key>
			<string>Expansion 4</string>
			<key>start</key>
			<integer>2000</integer>
			<key>end</key>
			<integer>2499</integer>
		</dict>
		<key>subpack6</key>
		<dict>
			<key>name</key>
			<string>Expansion 5</string>
			<key>start</key>
			<integer>2500</integer>
			<key>end</key>
			<integer>2999</integer>
		</dict>
		<key>subpack7</key>
		<dict>
			<key>name</key>
			<string>Expansion 6</string>
			<key>start</key>
			<integer>3000</integer>
			<key>end</key>
			<integer>3499</integer>
		</dict>
		<key>subpack8</key>
		<dict>
			<key>name</key>
			<string>Expansion 7</string>
			<key>start</key>
			<real>3500</real>
			<key>end</key>
			<real>3999</real>
		</dict>
		<key>subpack9</key>
		<dict>
			<key>name</key>
			<string>Expansion 8</string>
			<key>start</key>
			<real>4000</real>
			<key>end</key>
			<real>4199</real>
		</dict>
	</dict>
	<key>pack2</key>
	<dict>
		<key>subpack0</key>
		<dict>
			<key>end</key>
			<integer>599</integer>
			<key>name</key>
			<string>Original</string>
			<key>start</key>
			<integer>0</integer>
		</dict>
		<key>subpack1</key>
		<dict>
			<key>end</key>
			<integer>699</integer>
			<key>name</key>
			<string>Bonus</string>
			<key>start</key>
			<integer>600</integer>
		</dict>
		<key>subpack2</key>
		<dict>
			<key>end</key>
			<integer>999</integer>
			<key>name</key>
			<string>Expansion 1</string>
			<key>start</key>
			<integer>700</integer>
		</dict>
		<key>subpack3</key>
		<dict>
			<key>name</key>
			<string>Expansion 2</string>
			<key>start</key>
			<integer>1000</integer>
			<key>end</key>
			<integer>1499</integer>
		</dict>
	</dict>
	<key>pack3</key>
	<dict>
		<key>subpack0</key>
		<dict>
			<key>end</key>
			<integer>599</integer>
			<key>name</key>
			<string>Original</string>
			<key>start</key>
			<integer>0</integer>
		</dict>
		<key>subpack1</key>
		<dict>
			<key>end</key>
			<integer>699</integer>
			<key>name</key>
			<string>Bonus</string>
			<key>start</key>
			<integer>600</integer>
		</dict>
		<key>subpack2</key>
		<dict>
			<key>end</key>
			<integer>799</integer>
			<key>name</key>
			<string>Expansion 1</string>
			<key>start</key>
			<integer>700</integer>
		</dict>
	</dict>
	<key>pack4</key>
	<dict>
		<key>subpack0</key>
		<dict>
			<key>end</key>
			<integer>399</integer>
			<key>name</key>
			<string>Beginner</string>
			<key>start</key>
			<integer>0</integer>
		</dict>
		<key>subpack1</key>
		<dict>
			<key>end</key>
			<integer>799</integer>
			<key>name</key>
			<string>Intermediate</string>
			<key>start</key>
			<integer>400</integer>
		</dict>
		<key>subpack2</key>
		<dict>
			<key>end</key>
			<integer>1199</integer>
			<key>name</key>
			<string>Bonus</string>
			<key>start</key>
			<integer>800</integer>
		</dict>
	</dict>
</dict>
</plist>
