<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autumn-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{360,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,118}}</string>
                <key>sourceSize</key>
                <string>{360,118}</string>
            </dict>
            <key>autumn-fg</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{360,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,82}}</string>
                <key>sourceSize</key>
                <string>{360,82}</string>
            </dict>
            <key>b112000</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{48,99}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,99}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>b112010</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{99,49}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b112110</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b113000</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{48,149}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,149}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>b113010</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,49}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-autumn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582b028b8dfc31d17d7af3ea59674c55:2a3792f7b8e888882ea935b10410b48d:8956e148c827eff71d66f19e9879288a$</string>
            <key>textureFileName</key>
            <string>themes-autumn.png</string>
        </dict>
    </dict>
</plist>
