<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b102000</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>b102010</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>b102110</key>
            <dict>
                <key>frame</key>
                <string>{{824,102},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>b103000</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,300}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>b103010</key>
            <dict>
                <key>frame</key>
                <string>{{824,204},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>spring-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{720,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,236}}</string>
                <key>sourceSize</key>
                <string>{720,236}</string>
            </dict>
            <key>spring-fg</key>
            <dict>
                <key>frame</key>
                <string>{{102,238},{720,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,192}}</string>
                <key>sourceSize</key>
                <string>{720,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-spring-hd.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc8cedd8cf28f60530674ac6e08f583b:3fc1e1596a0be8ce8b47efbf5792bbe4:15977e7812efd9532b07fb52b1bc5950$</string>
            <key>textureFileName</key>
            <string>themes-spring-hd.png</string>
        </dict>
    </dict>
</plist>
