<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b132000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{0,151},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b132010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{412,0},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b132110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{412,51},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b133000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b133010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{412,102},{150,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summer-challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,118}</string>
                <key>spriteSourceSize</key>
                <string>{360,118}</string>
                <key>textureRect</key>
                <string>{{51,0},{360,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summer-fg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,108}</string>
                <key>spriteSourceSize</key>
                <string>{360,108}</string>
                <key>textureRect</key>
                <string>{{51,119},{360,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themes-summer.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8843df4a40e463a2a359683b817832:497948ddc2d1a330a31ffb39c142621c:3de449f7802bd6cc0ee65c23c9cf27a6$</string>
            <key>textureFileName</key>
            <string>themes-summer.png</string>
        </dict>
    </dict>
</plist>
