<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b122000</key>
            <dict>
                <key>frame</key>
                <string>{{361,200},{48,99}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,99}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>b122010</key>
            <dict>
                <key>frame</key>
                <string>{{460,101},{98,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b122110</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b123000</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,149}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,149}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>b123010</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{148,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,49}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>winter-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{360,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,118}}</string>
                <key>sourceSize</key>
                <string>{360,118}</string>
            </dict>
            <key>winter-fg</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{360,103}}</string>
                <key>offset</key>
                <string>{0,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,103}}</string>
                <key>sourceSize</key>
                <string>{360,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-winter.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cbdba0a5266c405ba0b6ae802050f42:f87fc6046708a77fde744cd8a2696e81:1ebee4bc3a0e0469f71808ae7bcebab4$</string>
            <key>textureFileName</key>
            <string>themes-winter.png</string>
        </dict>
    </dict>
</plist>
