<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b72000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{101,0},{50,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b72010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b72110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,50}</string>
                <key>textureRect</key>
                <string>{{202,0},{96,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b73000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{0,51},{50,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b73010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{299,0},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love-boardfg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{360,116}</string>
                <key>spriteSourceSize</key>
                <string>{360,120}</string>
                <key>textureRect</key>
                <string>{{151,51},{360,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love-challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,118}</string>
                <key>spriteSourceSize</key>
                <string>{360,118}</string>
                <key>textureRect</key>
                <string>{{0,168},{360,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themes-love.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61773de1a9958306ad5b7221f4236a0b:3df0f8d0537c7d488e71736b37d5feb6:eb646c8a5753334f80d3cd1b9e45078b$</string>
            <key>textureFileName</key>
            <string>themes-love.png</string>
        </dict>
    </dict>
</plist>
