<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5y-Star_01</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{268,208},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5y-Star_02</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{130,328},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_hint</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{218,122},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_hint_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{218,165},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_hint_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{56,40}</string>
                <key>textureRect</key>
                <string>{{207,251},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_navleft</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{214,329},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_navleft_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{115,228},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_navright</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{242,294},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5y-btn_navright_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{207,294},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_pause</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{54,228},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_pause_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{1,328},{58,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5y-btn_reset</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{44,328},{58,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5y-btn_reset_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{87,328},{58,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5y-btn_reset_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{157,122},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_undo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{157,165},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_undo_disabled</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{153,331},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-btn_undo_selected</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{207,208},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,118}</string>
                <key>spriteSourceSize</key>
                <string>{360,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5y-fg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,95}</string>
                <key>spriteSourceSize</key>
                <string>{360,95}</string>
                <key>textureRect</key>
                <string>{{364,1},{360,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b82000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{154,228},{50,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b82010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{54,122},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b82110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{54,175},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b83000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{1,122},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b83010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,50}</string>
                <key>spriteSourceSize</key>
                <string>{150,50}</string>
                <key>textureRect</key>
                <string>{{1,275},{150,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themes-5years-0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea43725ff98e27e49c4b3982a863e90:803d2339bbcca95da307211c3651d547:ef22084ab7db639b6fdafb828f375c85$</string>
            <key>textureFileName</key>
            <string>themes-5years-0.png</string>
        </dict>
    </dict>
</plist>
