<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b72000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,200}</string>
                <key>spriteSourceSize</key>
                <string>{100,200}</string>
                <key>textureRect</key>
                <string>{{202,0},{100,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b72010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b72110</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{404,0},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b73000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,300}</string>
                <key>spriteSourceSize</key>
                <string>{100,300}</string>
                <key>textureRect</key>
                <string>{{0,102},{100,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b73010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,100}</string>
                <key>spriteSourceSize</key>
                <string>{300,100}</string>
                <key>textureRect</key>
                <string>{{598,0},{300,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love-boardfg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{720,232}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{302,102},{720,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love-challengeui</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,236}</string>
                <key>spriteSourceSize</key>
                <string>{720,236}</string>
                <key>textureRect</key>
                <string>{{0,336},{720,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themes-love-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61773de1a9958306ad5b7221f4236a0b:3df0f8d0537c7d488e71736b37d5feb6:eb646c8a5753334f80d3cd1b9e45078b$</string>
            <key>textureFileName</key>
            <string>themes-love-hd.png</string>
        </dict>
    </dict>
</plist>
