<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autumn-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{720,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,236}}</string>
                <key>sourceSize</key>
                <string>{720,236}</string>
            </dict>
            <key>autumn-fg</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{720,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,164}}</string>
                <key>sourceSize</key>
                <string>{720,164}</string>
            </dict>
            <key>b112000</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{96,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>b112010</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{198,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>b112110</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>b113000</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{96,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{96,298}}</string>
                <key>sourceSize</key>
                <string>{100,300}</string>
            </dict>
            <key>b113010</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,98}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-autumn-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582b028b8dfc31d17d7af3ea59674c55:2a3792f7b8e888882ea935b10410b48d:8956e148c827eff71d66f19e9879288a$</string>
            <key>textureFileName</key>
            <string>themes-autumn-hd.png</string>
        </dict>
    </dict>
</plist>
