<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b92000</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{50,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,100}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>b92010</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b92110</key>
            <dict>
                <key>frame</key>
                <string>{{412,51},{93,50}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b93000</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,150}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>b93010</key>
            <dict>
                <key>frame</key>
                <string>{{412,102},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>easter-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{360,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,118}}</string>
                <key>sourceSize</key>
                <string>{360,118}</string>
            </dict>
            <key>easter-top-overlay</key>
            <dict>
                <key>frame</key>
                <string>{{51,119},{320,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,61}}</string>
                <key>sourceSize</key>
                <string>{320,61}</string>
            </dict>
            <key>table_easter_left</key>
            <dict>
                <key>frame</key>
                <string>{{463,102},{63,40}}</string>
                <key>offset</key>
                <string>{2.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{63,40}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>table_easter_right</key>
            <dict>
                <key>frame</key>
                <string>{{463,166},{57,32}}</string>
                <key>offset</key>
                <string>{-3,6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-easter.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7ed35c3875da9c9a938e1330d11f88:c1ef8c8766903cfa548128623e5638f9:e5b6dd112e40d857f849cb69ef0ffa5c$</string>
            <key>textureFileName</key>
            <string>themes-easter.png</string>
        </dict>
    </dict>
</plist>
