<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b62000</key>
            <dict>
                <key>frame</key>
                <string>{{411,99},{48,99}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,99}}</string>
                <key>sourceSize</key>
                <string>{50,100}</string>
            </dict>
            <key>b62010</key>
            <dict>
                <key>frame</key>
                <string>{{361,150},{98,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b62110</key>
            <dict>
                <key>frame</key>
                <string>{{411,0},{98,49}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>b63000</key>
            <dict>
                <key>frame</key>
                <string>{{184,190},{48,149}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,149}}</string>
                <key>sourceSize</key>
                <string>{50,150}</string>
            </dict>
            <key>b63010</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{149,49}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,49}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>btn_snow_hint</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{59,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,9}}</string>
                <key>sourceSize</key>
                <string>{59,11}</string>
            </dict>
            <key>btn_snow_pause</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{59,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,11}}</string>
                <key>sourceSize</key>
                <string>{59,11}</string>
            </dict>
            <key>btn_snow_reset</key>
            <dict>
                <key>frame</key>
                <string>{{473,0},{59,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,11}}</string>
                <key>sourceSize</key>
                <string>{59,11}</string>
            </dict>
            <key>btn_snow_undo</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{59,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,11}}</string>
                <key>sourceSize</key>
                <string>{59,11}</string>
            </dict>
            <key>table_snow</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{183,43}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{183,43}}</string>
                <key>sourceSize</key>
                <string>{187,44}</string>
            </dict>
            <key>xmas-board_overlay</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{360,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,70}}</string>
                <key>sourceSize</key>
                <string>{360,70}</string>
            </dict>
            <key>xmas-challengeui</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,118}}</string>
                <key>sourceSize</key>
                <string>{360,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themes-xmas.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18881ee92d0705b711cab6d3d6853aa2:60ac055cd4f85b60f668d17371454ed3:4bb5d8d43246f12c5cba70199ce8c68a$</string>
            <key>textureFileName</key>
            <string>themes-xmas.png</string>
        </dict>
    </dict>
</plist>
